*{
    font-family: Arial, Helvetica, sans-serif;
}

.titlepic {
    display:flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

h2{
    margin-top: 9px;
    margin-bottom: 10px;
    align-self: start;
    margin-left: 2em;

}



.container {
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: auto;
    padding: 0px;
}

h3{
    font-size: 12px;
    font-weight: normal;
    align-self: start;
    margin-left: 4em;

}

.pw{
    display:inline-block;
}
input[type=text]{
    width: 70%;
    border-radius: 0%;
    padding-top: 3px;
    padding-bottom: 3px;
}


button{
    background: rgb(238, 183, 3);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 72%;
    border-radius: 0%;
    padding-top: 3px;
    padding-bottom: 3px;
}
#button1{
    background-color: lightgray;
    display:flex;
    justify-content: center;
    border-radius: 0%;
    width: 300px;
    margin:auto;
    margin-top: 15px;
    
}

a{
    color:rgb(63, 60, 253);
    text-decoration: none;
    margin-left: 4em ;
    align-self: start;
    font-size: 12px;
    margin-bottom: 10px;

}
ul{
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style: none;
}